/* header */
#content-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: box-shadow .2s;
	width: inherit;
	z-index: 10;
}

#content-header img {
  height: 40px;
	margin-right: 24px;
}

#content-header button {
  margin-left: 24px;
}

@media (max-width: 700px) {
	#content-header .title { display: none; }
}

/* options */
.options .search {
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.12);
	display: flex;
  height: 20px;
  padding: 12px 8px;
}
.options .search md-icon { color: rgba(0,0,0,.54); }

.options .search input {
	font-size: 1em;
	width: 100%;
}

.options ul {
  list-style: none;
  margin: 16px;
  padding: 0;
}

.options h2 {
	font-size: 1em;
	font-weight: 500;
	color: rgba(0,0,0,.54);
	margin: 16px 0 0 0;
}

.options li {
	align-items: center;
	display: flex;
	margin-top: 8px;
}

.options md-select { width: 200px; }

.options md-radio-button + md-radio-button {
	margin-top: 8px;
}

.options .filter md-input-container {
	width: 60px;
}

.options footer {
	align-items: center;
	background: #fff;
  border-top: 1px solid rgba(0,0,0,.12);
	display: flex;
	height: 64px;
	justify-content: center;
}


/deep/ #tabs-content md-tab-header { display: none; }

/* content */
.players th:nth-child(n+3) > div {
	justify-content: flex-end;
}

.players td {
	text-align: left;
}

.players td:first-child {
	min-width: 200px;
}

.players td:nth-child(n+3) {
	padding-right: 24px;
	text-align: right;
}

.rotation th {
	width: 20%;
}

.rotation th:nth-child(n - 2) {
	text-align: left;
}

.events td:first-child {
	min-width: 200px;
}

.events td:nth-child(n+3) {
	text-align: center;
}

.events input {
	border-bottom: 1px solid rgba(0,0,0,.24);
	width: 50px;
}

.predicted-stats th:nth-child(n+2) {
	text-align: right;
}

.predicted-stats th:last-child {
	padding-right: 32px;
}

.predicted-stats td:nth-child(n+2) {
	text-align: right;
}

.predicted-stats td:last-child {
	padding-right: 32px;
}

.predicted-team {
	background: url('/assets/field.png') #349629 no-repeat top;
	min-height: 800px;
	padding-top: 80px;
	width: 100%;
}

.predicted-team .player-row {
	text-align: center;
}

.predicted-team .player-card {
	background: #fff;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	margin: 24px 0;
	padding: 16px;
	text-align: center;
	width: 100px;
}

.predicted-team .player-card + .player-card {
	margin-left: 24px;
}

.predicted-team img {
	display: block;
	height: 80px;
  margin: 0 auto;
}

.predicted-team span {
	display: block;
	margin-top: 8px;
}
