<!-- Header -->
<div style="margin-bottom: 64px"></div>
<md-toolbar class="mat-elevation-z8" id="content-header" color="primary">
  <img src="assets/logo_white.png">
  <span class="title">FPL Analyzer</span>
  <span class="flex"></span>

  <md-tab-group id="tabs" [(selectedIndex)]="tabIndex" backgroundColor="primary">
    <md-tab label="Players"></md-tab>
    <md-tab label="Fixtures"></md-tab>
    <md-tab label="Predictor"></md-tab>
  </md-tab-group>

  <button md-icon-button [mdMenuTriggerFor]="export">
    <md-icon>file_download</md-icon>
  </button>
  <md-menu #export="mdMenu" xPosition="before">
    <button md-menu-item (click)="exportAll()">All player data</button>
    <button md-menu-item (click)="exportFiltered()">Filtered player data</button>
    <button md-menu-item (click)="exportRaw()">Raw json data</button>
  </md-menu>
</md-toolbar>

<md-tab-group id="tabs-content" [selectedIndex]="tabIndex">
  <!-- Player tab -->
  <md-tab>
    <div class="content">
      <!-- Options -->
      <div class="col options mat-elevation-z4">
        <h1 class="primary">
          <md-icon>settings</md-icon>
          Options
        </h1>

        <div class="search">
          <md-icon style="margin-right: 10px;">search</md-icon>
          <input class="blank" placeholder="Search players"
            [(ngModel)]="op_players.name" (ngModelChange)="filterPlayers()">
        </div>

        <!-- Columns -->
        <fpl-expandable-menu>
          <header md-ripple>
            <span>Columns</span>
            <md-icon>keyboard_arrow_down</md-icon>
          </header>
          <main>
            <div *ngFor="let col of cols" class="clickable" md-ripple
              (click)="col.show = !col.show">
              <md-checkbox color="accent" [(ngModel)]="col.show"></md-checkbox>
              <span [class.accent]="col.show">
                {{ col.label_full || col.label }}
              </span>
            </div>
          </main>
        </fpl-expandable-menu>

        <!-- Teams -->
        <fpl-expandable-menu>
          <header md-ripple>
            <span>Teams</span>
            <md-icon>keyboard_arrow_down</md-icon>
          </header>
          <main>
            <div class="clickable" md-ripple
              (click)="op_players.teams.all = !op_players.teams.all; filterPlayers()">
              <md-checkbox color="accent" [(ngModel)]="op_players.teams.all"></md-checkbox>
              <span [class.accent]="op_players.teams.all">
                All teams
              </span>
            </div>
            <div *ngFor="let team of generalData.teams" class="clickable" md-ripple
              (click)="op_players.teams[team.id] = !op_players.teams[team.id]; filterPlayers()">
              <md-checkbox color="accent" [(ngModel)]="op_players.teams[team.id]"></md-checkbox>
              <span [class.accent]="op_players.teams[team.id]">
                {{ team.name }}
              </span>
            </div>
          </main>
        </fpl-expandable-menu>

        <!-- Positions -->
        <fpl-expandable-menu>
          <header md-ripple>
            <span>Positions</span>
            <md-icon>keyboard_arrow_down</md-icon>
          </header>
          <main>
            <div class="clickable" md-ripple
              (click)="op_players.poss.all = !op_players.poss.all; filterPlayers()">
              <md-checkbox color="accent" [(ngModel)]="op_players.poss.all"></md-checkbox>
              <span [class.accent]="op_players.poss.all">
                All positions
              </span>
            </div>
            <div *ngFor="let pos of generalData.element_types" class="clickable" md-ripple
              (click)="op_players.poss[pos.id] = !op_players.poss[pos.id]; filterPlayers()">
              <md-checkbox color="accent" [(ngModel)]="op_players.poss[pos.id]"></md-checkbox>
              <span [class.accent]="op_players.poss[pos.id]">
                {{ pos.plural_name }}
              </span>
            </div>
          </main>
        </fpl-expandable-menu>

        <!-- Filters -->
        <fpl-expandable-menu>
          <header md-ripple>
            <span>Filters</span>
            <md-icon>keyboard_arrow_down</md-icon>
          </header>
          <main>
            <div *ngFor="let f of filters" class="clickable" md-ripple
              (click)="f.show = !f.show; filterPlayers()">
              <md-checkbox color="accent" [(ngModel)]="f.show"></md-checkbox>
              <span [class.accent]="f.show">
                {{ f.label }}
              </span>
            </div>
          </main>
        </fpl-expandable-menu>

        <ul>
          <div *ngFor="let f of filters" [hidden]="!f.show" class="filter">
            <h2>{{ f.label }}</h2>
      			<li>
              <md-input-container color="accent">
        				<input mdInput type="number" placeholder="Min"
                  [(ngModel)]="f.low" (ngModelChange)="filterPlayers()">
              </md-input-container>
      				&nbsp;to&nbsp;
              <md-input-container color="accent">
        				<input mdInput type="number" placeholder="Max"
                  [(ngModel)]="f.high" (ngModelChange)="filterPlayers()">
              </md-input-container>
      			</li>
          </div>
        </ul>

      	<footer>
      		<button md-button (click)="resetPlayersTable(); filterPlayers()">
            Reset
          </button>
      	</footer>
      </div>

      <div class="col mat-elevation-z4">
        <h1 class="primary">
          <md-icon>account_circle</md-icon>
          Players
        </h1>

        <!-- Table -->
        <div class="table-wrapper">
          <table class="table clickable players" ng-cloak>
            <thead>
              <tr>
                <ng-container *ngFor="let col of cols">
                  <th (click)="togglePlayersSort(col)" *ngIf="col.show" md-ripple>
                    <div [mdTooltip]="col.label_full">
                      <span [class.abbr]="col.label_full">
                        <span class="icon">{{ col.label_icon }}</span>
                        {{ col.label }}
                      </span>
                      <div class="dir">
                        <md-icon *ngIf="(op_players.sort == col.field) && !op_players.reverse">arrow_upwards</md-icon>
                        <md-icon *ngIf="(op_players.sort == col.field) && op_players.reverse">arrow_downwards</md-icon>
                      </div>
                    </div>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of filteredPlayers | slice: ((op_players.page - 1) * op_players.pageSize):(op_players.page * op_players.pageSize)"
                (click)="showPopupPlayer(player)">
                <td *ngIf="cols[0].show">{{ player.web_name }}</td>
                <td *ngIf="cols[1].show">{{ generalData.teams[player.team - 1].short_name }}</td>
                <td *ngIf="cols[2].show">{{ generalData.element_types[player.element_type - 1].singular_name_short }}</td>
                <td *ngIf="cols[3].show">{{ player.total_points }}</td>
                <td *ngIf="cols[4].show">{{ player.event_points }}</td>
                <td *ngIf="cols[5].show">{{ player.points_per_game }}</td>
                <td *ngIf="cols[6].show">{{ player.value_season }}</td>
                <td *ngIf="cols[7].show">{{ player.form }}</td>
                <td *ngIf="cols[8].show">{{ player.value_form }}</td>
                <td *ngIf="cols[9].show">{{ player.now_cost.toFixed(1) }}</td>
                <td *ngIf="cols[10].show">{{ player.value_added_per_mil.toFixed(2) }}</td>
                <td *ngIf="cols[11].show">{{ player.minutes }}</td>
                <td *ngIf="cols[12].show">{{ player.transfers_in }}</td>
                <td *ngIf="cols[13].show">{{ player.transfers_out }}</td>
                <td *ngIf="cols[14].show">{{ player.transfers_diff }}</td>
                <td *ngIf="cols[15].show">{{ player.transfers_in_event }}</td>
                <td *ngIf="cols[16].show">{{ player.transfers_out_event }}</td>
                <td *ngIf="cols[17].show">{{ player.transfers_diff_event }}</td>
                <td *ngIf="cols[18].show">{{ player.selected_by_percent }}</td>
                <td *ngIf="cols[19].show">{{ (player.cost_change_start / 10).toFixed(1) }}</td>
                <td *ngIf="cols[20].show">{{ (player.cost_change_event / 10).toFixed(1) }}</td>
                <td *ngIf="cols[21].show">{{ player.ict_index }}</td>
                <td *ngIf="cols[22].show">{{ player.threat }}</td>
                <td *ngIf="cols[23].show">{{ player.creativity }}</td>
                <td *ngIf="cols[24].show">{{ player.influence }}</td>
                <td *ngIf="cols[25].show">{{ player.bonus }}</td>
                <td *ngIf="cols[26].show">{{ player.bps }}</td>
                <td *ngIf="cols[27].show">{{ player.goals_scored }}</td>
                <td *ngIf="cols[28].show">{{ player.assists }}</td>
                <td *ngIf="cols[29].show">{{ player.clean_sheets }}</td>
                <td *ngIf="cols[30].show">{{ player.saves }}</td>
                <td *ngIf="cols[31].show">{{ player.goals_conceded }}</td>
                <td *ngIf="cols[32].show">{{ player.yellow_cards }}</td>
                <!-- <td *ngIf="cols[33].show">{{ player.red_cards }}</td> -->
                <td *ngIf="cols[33].show">{{ predictorService.getScore(player) }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="loading" *ngIf="!generalData.elements">
          <md-spinner></md-spinner>
        </div>

        <div class="pagination">
          <span class="page">Page size:</span>

          <md-select [(ngModel)]="op_players.pageSize" color="accent">
            <md-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</md-option>
          </md-select>

          <button md-icon-button class="skip"
            (click)="op_players.page = 1" [disabled]="op_players.page == 1">
            <md-icon>chevron_left</md-icon>
            <md-icon>chevron_left</md-icon>
          </button>

          <button md-icon-button
            (click)="op_players.page = op_players.page - 1" [disabled]="op_players.page == 1">
            <md-icon>chevron_left</md-icon>
          </button>

          <span class="page">Page {{ op_players.page }} of {{ getPages() }}</span>

          <button md-icon-button
            (click)="op_players.page = op_players.page + 1" [disabled]=" op_players.page == getPages()">
            <md-icon>chevron_right</md-icon>
          </button>

          <button md-icon-button class="skip"
            (click)="op_players.page = getPages()" [disabled]="op_players.page == getPages()">
            <md-icon>chevron_right</md-icon>
            <md-icon>chevron_right</md-icon>
          </button>
        </div>

      </div>
    </div>
  </md-tab>

  <!-- fixtures tab -->
  <md-tab>
    <div class="content">
      <!-- Options -->
      <div class="col options mat-elevation-z4">
        <h1 class="primary">
          <md-icon>settings</md-icon>
          Options
        </h1>

        <ul>
          <h2>Fixtures to analyze</h2>
          <li>
            <md-slider color="accent" thumbLabel
              min="0" max="38"
              [(ngModel)]="op_events.event_num" (ngModelChange)="updateEvents()"></md-slider>
            <input class="blank" type="number" [(ngModel)]="op_events.event_num"
              (ngModelChange)="updateEvents()"
              style="width: 50px; border-bottom: 1px solid rgba(0,0,0,.24);">
          </li>
          <h2>Show colors</h2>
          <li>
            <md-checkbox color="accent"
              [(ngModel)]="op_events.show_event_colors"></md-checkbox>
          </li>
          <h2>Team strengths</h2>
          <li>
            <button md-button (click)="saveTeamStrength()">Save</button>
            <button md-button (click)="loadTeamStrength()">Load</button>
            <button md-button (click)="resetTeamStrength()">Reset</button>
          </li>
        </ul>
      </div>

      <!-- Event difficulty -->
      <div class="col mat-elevation-z4">
        <h1 class="primary">
          <md-icon>stars</md-icon>
          Fixture Difficulty
        </h1>

        <div class="table-wrapper">
          <table class="table clickable events">
            <thead>
              <tr>
                <th>Team</th>
                <th><div class="abbr" mdTooltip="Home Strength">HS</div></th>
                <th><div class="abbr" mdTooltip="Away Strength">AS</div></th>
                <th>Average</th>
                <th>Product</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of generalData.teams; let i=index"
                (click)="showPopupTeam(generalData.teams, i)">
                <td>{{ team.name }}</td>
                <td>
          				<input type="number" class="blank" fpl-no-click
                    [(ngModel)]="team.strength_h" (ngModelChange)="updateEvents()">
                </td>
                <td>
          				<input type="number" class="blank" fpl-no-click
                    [(ngModel)]="team.strength_a" (ngModelChange)="updateEvents()">
                </td>
                <td [style.background]="getEventColor((team.event_sum / op_events.event_num).toFixed(2))">
                  {{ (team.event_sum / op_events.event_num).toFixed(2) }}
                </td>
                <td [style.background]="getEventColor(getTeamEventProd(team))">
                  {{ getTeamEventProd(team) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="loading" *ngIf="!generalData.teams">
          <md-spinner></md-spinner>
        </div>
      </div>
    </div>
  </md-tab>

  <!-- Predictor tab -->
  <md-tab>
    <div class="content">
      <!-- Options -->
      <div class="col options mat-elevation-z4">
        <h1 class="primary">
          <md-icon>settings</md-icon>
          Options
        </h1>

        <ul>
          <h2>Budget mode</h2>
          <li>
            <md-select color="accent" [(ngModel)]="op_predictor.budget_mode">
              <md-option value="total" (click)="op_predictor.budget_mode = 'total'">
                Total budget
              </md-option>
              <md-option value="pos" (click)="op_predictor.budget_mode = 'pos'">
                Budget by position
              </md-option>
            </md-select>
          </li>
          <ng-container *ngIf="op_predictor.budget_mode == 'total'">
            <li>
              <md-input-container color="accent">
        				<input mdInput type="number" placeholder="Total budget"
                  [(ngModel)]="op_predictor.budget_total">
              </md-input-container>
            </li>
          </ng-container>
          <ng-container *ngIf="op_predictor.budget_mode == 'pos'">
            <li>
              <md-input-container color="accent">
        				<input mdInput type="number" placeholder="Goalkeeper budget"
                  [(ngModel)]="op_predictor.budget_pos[1]">
              </md-input-container>
            </li>
            <li>
              <md-input-container color="accent">
        				<input mdInput type="number" placeholder="Defender budget"
                  [(ngModel)]="op_predictor.budget_pos[2]">
              </md-input-container>
            </li>
            <li>
              <md-input-container color="accent">
        				<input mdInput type="number" placeholder="Midfield budget"
                  [(ngModel)]="op_predictor.budget_pos[3]">
              </md-input-container>
            </li>
            <li>
              <md-input-container color="accent">
        				<input mdInput type="number" placeholder="Forward budget"
                  [(ngModel)]="op_predictor.budget_pos[4]">
              </md-input-container>
            </li>
          </ng-container>
        </ul>

        <footer>
          <button md-button (click)="predict()">Predict</button>
        </footer>
      </div>

      <div class="col mat-elevation-z4">
        <h1 class="primary">
          <md-icon>bubble_chart</md-icon>
          Predictor
        </h1>

        {{ op_predictor.team.total_points }}
        {{ op_predictor.team.itb }}
        {{ (op_predictor.team.score).toFixed(1) }}
        <div class="predicted-team">
          <!-- GKPs -->
          <div class="player-row">
            <ng-container *ngFor="let player of op_predictor.team.players; let i = index">
              <div *ngIf="i < 2" class="player-card mat-elevation-z4"
                (click)="showPopupPlayer(player)">
                <img [src]="player.url">
                <span>{{ player.web_name }}</span>
                <span>{{ predictorService.getScore(player).toFixed(1) }}</span>
              </div>
            </ng-container>
          </div>
          <!-- DEFs -->
          <div class="player-row">
            <ng-container *ngFor="let player of op_predictor.team.players; let i = index">
              <div *ngIf="i > 1 && i < 7" class="player-card mat-elevation-z4"
                (click)="showPopupPlayer(player)">
                <img [src]="player.url">
                <span>{{ player.web_name }}</span>
                <span>{{ predictorService.getScore(player).toFixed(1) }}</span>
              </div>
            </ng-container>
          </div>
          <!-- MIDs -->
          <div class="player-row">
            <ng-container *ngFor="let player of op_predictor.team.players; let i = index">
              <div *ngIf="i > 6 && i < 12" class="player-card mat-elevation-z4"
                (click)="showPopupPlayer(player)">
                <img [src]="player.url">
                <span>{{ player.web_name }}</span>
                <span>{{ predictorService.getScore(player).toFixed(1) }}</span>
              </div>
            </ng-container>
          </div>
          <!-- FWDs -->
          <div class="player-row">
            <ng-container *ngFor="let player of op_predictor.team.players; let i = index">
              <div *ngIf="i > 11" class="player-card mat-elevation-z4"
                (click)="showPopupPlayer(player)">
                <img [src]="player.url">
                <span>{{ player.web_name }}</span>
                <span>{{ predictorService.getScore(player).toFixed(1) }}</span>
              </div>
            </ng-container>
          </div>

          <div class="loading" *ngIf="!op_predictor.team.players.length > 0">
            <md-spinner></md-spinner>
          </div>
        </div>
      </div>
    </div>
  </md-tab>
</md-tab-group>
