fpl-sidenav-container {
	transition: width .2s;
	width: 100%;
}

fpl-sidenav-container.fpl-sidenav-open {
	width: calc(100% - 300px);
}

fpl-sidenav {
	background: #fff;
	bottom: 0;
	overflow-y: auto;
	position: fixed;
	right: -300px;
	top: 0;
	transition: right .2s, box-shadow .2s;
	width: 300px;
	z-index: 9;
}

.fpl-sidenav-open fpl-sidenav {
	box-shadow: -2px 0 4px rgba(0,0,0,.12),
		-4px 0 4px rgba(0,0,0,.12);
}

fpl-sidenav-container.fpl-sidenav-open fpl-sidenav {
	right: 0;
}
