fpl-sidenav-container {
	transition: width .2s;
	width: 100%;
}

fpl-sidenav-container.fpl-sidenav-open {
	width: calc(100% - 300px);
}

fpl-sidenav {
	background: #fff;
	bottom: 0;
	right: -300px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	transition: right .2s;
	width: 300px;
	z-index: 10;
}

fpl-sidenav-container.fpl-sidenav-open fpl-sidenav {
	right: 0;
}
