fpl-expandable-menu {
  display: block;
}

fpl-expandable-menu header {
  align-items: center;
  color: #212121;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  padding: 12px;
  position: relative;
}

fpl-expandable-menu header span {
  flex: 1 1 auto;
}

fpl-expandable-menu header md-icon {
  float: right;
  transition: transform .2s;
}

fpl-expandable-menu.open header md-icon {
  transform: rotate(180deg);
}

fpl-expandable-menu main {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s;
}

fpl-expandable-menu.open main {
  max-height: 400px;
  overflow-y: auto;
}

fpl-expandable-menu main div {
  align-items: center;
  display: flex;
}

fpl-expandable-menu main div.clickable:hover {
  background: #f5f5f5;
  cursor: pointer;
  padding: 12px 16px;
  position: relative;
}

fpl-expandable-menu main div md-checkbox {
  margin-right: 12px;
}
