#popup-header {
	position: relative;
}

#popup-header img {
	height: 130px;
	margin-left: 24px;
  vertical-align: bottom;
}

#player-info {
	display: inline-block;
	margin-top: 24px;
	vertical-align: top;
}

#player-info div + div {
	margin-top: 10px;
}

h3 {
	font-size: 1.1em;
	font-weight: 500;
	margin: 0;
}

#popup-number {
	font-size: 150px;
	font-weight: 500;
	color: rgba(0,0,0,.12);
	right: 0;
	position: absolute;
	top: -30px;
}

table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

tr:nth-child(odd) {
	font-weight: 500;
}

td {
	padding: 8px 16px;
}

tr:nth-child(odd) td {
	padding-bottom: 0;
}
