<md-dialog-content style="padding: 0">
  <div id="popup-header">
		<div style="display: inline-block;height: 130px; width: 200px"><img [src]="player.url"></div>
		<div id="player-info">
			<div><h3>{{ player.first_name }} {{ player.second_name }}</h3></div>
			<div>{{ player.team_name }}</div>
			<div>{{ player.pos_name }}</div>
		</div>
		<span id="popup-number">{{ player.squad_number }}</span>
	</div>
	<table class="info">
		<tr class="bg-accent">
			<td><div class="abbr" mdTooltip="Points">P</div></td>
			<td><div class="abbr" mdTooltip="Gameweek Points">P (GW)</div></td>
			<td><div class="abbr" mdTooltip="Form">F</div></td>
			<td><div class="abbr" mdTooltip="Value Added Per Million">VAPM</div></td>
			<td><div class="abbr" mdTooltip="Points Per Game">PPG</div></td>
		</tr>
		<tr class="bg-accent">
			<td>{{ player.total_points }}</td>
			<td>{{ player.event_points }}</td>
			<td>{{ player.form }}</td>
			<td>{{ player.value_added_per_mil.toFixed(2) }}</td>
			<td>{{ player.points_per_game }}</td>
		</tr>
		<tr>
			<td><div class="abbr" mdTooltip="Price">£</div></td>
			<td><div class="abbr" mdTooltip="Selected By Percent">%</div></td>
			<td><div class="abbr icon" mdTooltip="Net Transfers">swap_horiz</div></td>
			<td><div class="abbr icon" mdTooltip="Cost Change">trending_up</div></td>
      <td><div class="abbr" mdTooltip="Minutes Played">MP</div></td>
		</tr>
		<tr>
			<td>£{{ player.now_cost.toFixed(1) }}</td>
			<td>{{ player.selected_by_percent }}%</td>
			<td>{{ player.transfers_diff }}</td>
			<td>{{ player.cost_change_start }}</td>
			<td>{{ player.minutes }}</td>
		</tr>
	</table>

  <fpl-expandable-menu class="no-scroll">
    <header md-ripple>
      <span>Fixtures</span>
      <md-icon>keyboard_arrow_down</md-icon>
    </header>
    <main>
			<table class="table">
				<thead>
					<th>Result</th>
					<th>GW</th>
					<th>Opponent</th>
					<th>Difficulty</th>
				</thead>
				<tbody>
					<ng-container *ngFor="let event of teams[player.team - 1].events">
			      <tr *ngIf="event">
							<td *ngIf="event.finished">{{ event.team_score }} - {{ event.opponent_score }}</td>
							<td *ngIf="!event.finished">{{ event.date }}</td>
							<td>{{ event.event }}
			        <td>
								{{ teams[event.opponent - 1].short_name }}
								{{ event.is_home ? '(H)':'(A)'}}
							</td>
			        <td style="text-align: center" [style.background]="getEventColor(event.is_home ? teams[event.opponent - 1].strength_a: teams[event.opponent - 1].strength_h)">
								{{ event.is_home ? teams[event.opponent - 1].strength_a: teams[event.opponent - 1].strength_h }}
							</td>
			      </tr>
					</ng-container>
				</tbody>
			</table>
    </main>
  </fpl-expandable-menu>
</md-dialog-content>
