#popup-header { position: relative; }

#team-info {
	display: inline-block;
	margin-top: 24px;
	vertical-align: top;
}

#team-info div + div {
	margin-top: 10px;
}

h3 {
	font-size: 1.1em;
	font-weight: 500;
	margin: 0;
}

.info {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.info tr:nth-child(odd) { font-weight: 500; }

.info td { padding: 8px 16px; }

.info tr:nth-child(odd) td { padding-bottom: 0; }
