/*
 * colors:
 * primary: #4a148c
 * primary2: #7b1fa2
 * accent: #69f0ae;
 * accent2: #18ffff;
 *
 * greys:
 * #f5f5f5
 * #eee
 * #bdbdbd
 * #212121
 *
 * alpha:
 * rgba(0,0,0,.12)
 * rgba(0,0,0,.24)
 * rgba(0,0,0,.54)
 *
 */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

/* elements */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #212121;
}

body {
  background: #f5f5f5;
  margin: 0;
}

button { text-transform: uppercase; }

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mat-menu-item { text-transform: none; }

md-icon {
  font-family: 'Material Icons' !important;
  font-size: 24px;
  text-transform: lowercase !important;
  text-decoration: none !important;
}

/* modifiers */
.primary { color: #4a148c; }
.primary-2 { color: #7b1fa2; }
.accent { color: #69f0ae; }
.accent-2 { color: #18ffff; }
.bg-primary { background: #4a148c; color: #fff;}
.bg-primary-2 { background: #7b1fa2; color: #fff;}
.bg-accent { background: #69f0ae; }
.bg-accent-2 { background: #18ffff; }
.bg-grey-1 { background: #f5f5f5; }
.bg-grey-2 { background: #eee; }
.bg-grey-3 { background: #e0e0e0; }
.bg-grey-4 { background: #bdbdbd; }

.col {
  background: #fff;
  float: left;
  margin: 12px;
}

.col:first-child {
  width: 300px;
}

.col:nth-child(n + 2) {
  width: calc(100% - 348px);
  float: right;
}

.col h1 {
	align-items: center;
	display: flex;
	font-size: 1.6em;
	font-weight: 500;
	margin: 0;
	padding: 24px;
}

.col h1 md-icon {
	font-size: 32px;
	margin-right: 12px;
}

.content {
  padding: 24px;
}

@media (max-width: 900px) {
  .col {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  .content { padding: 24px 0; }

  .col {
    margin: 12px 0;
    width: 100% !important;
  }
}

.flex { flex: 1 1 auto; }

input.blank {
  background: none;
  border: none;
  outline: none;
}

/* table */
.table-wrapper {
  overflow-x: auto;
}

.table {
	border-collapse: collapse;
	min-width: 100%;
}

.table thead {
	border-bottom: 1px solid rgba(0,0,0,.12);
	color: rgba(0,0,0,.54);
}

.table th {
	font-weight: normal;
	padding: 12px 8px;
  position: relative;
}

.table th:first-child:not(.ignore-first) {
  text-align: left;
  padding-left: 32px;
}

.table th > div {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.table th .abbr {
	/*text-decoration: underline;*/
}

.table th:first-child:not(.ignore-first) > div {
  justify-content: flex-start;
}

.table th .icon {
	font-family: 'Material Icons';
}

.table .dir {
  color: #212121;
  height: 18px;
  margin-left: 2px;
	width: 18px;
}

.table .dir md-icon {
	font-size: 18px;
}

.table tr {
	border-bottom: 1px solid rgba(0,0,0,.12);
  position: relative;
}

.table td {
	padding: 12px 8px;
}

.table td:first-child:not(.ignore-first) {
	padding-left: 32px;
}

.table.clickable tbody tr:hover {
	background: #eee;
	cursor: pointer;
}

.loading {
  padding: 32px;
  display: flex;
  justify-content: center;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.pagination md-select {
  padding: 0;
  margin: 0 16px;
}

.pagination .page {
  color: rgba(0,0,0,.54);
  font-size: .8em;
}

.pagination .skip md-icon + md-icon{
  margin-left: -16px;
}
